/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#ffffff, #ace0f9);
}
.bg-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-store {
  font-weight: 600;
  font-family: Bree Serif;
  font-size: 40px;
}
.search-bar {
  height: 30px;
  width: 250px;
  border-width: 0px;
  outline: none;
  background-color: transparent;
}
.icon {
  width: 8%;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #1e293b;
  border-radius: 5px;
}
.ul-list {
  display: flex;
}
.ul-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}
